DATABASE_URL="postgresql://postgres:<db_password>@localhost:5432/myapp?schema=public"
JWT_SECRET="thay-bang-mot-chuoi-bi-mat-it-nhat-16-ky-tu"
JWT_EXPIRES_IN="1d"
PORT=3000
MQTT_BROKER_URL="mqtt://broker.hivemq.com:1883"
MQTT_SENSOR_TOPIC="esp32/sensors/data"
MQTT_COMMAND_TOPIC="esp32/control/command"
MQTT_ACK_TOPIC="esp32/control/ack"
