DATABASE_URL="postgresql://postgres:<db_password>@localhost:5432/myapp?schema=public"
JWT_SECRET="thay-bang-mot-chuoi-bi-mat-it-nhat-16-ky-tu"
JWT_EXPIRES_IN="1d"
PORT=3000
MQTT_BROKER_URL="mqtt://broker.hivemq.com:1883"
