# ==== Server ====
PORT=3000

# ==== PostgreSQL (thay bằng URL của database của bạn) ====
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smart_garden?schema=public"

# ==== JWT ====
JWT_SECRET="change-me-to-a-secret-with-at-least-16-chars"
JWT_EXPIRES_IN="1d"

# ==== MQTT (HiveMQ public broker) ====
MQTT_BROKER_URL="mqtt://broker.hivemq.com:1883"
